name: Build .NET

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 9.0.x       
    - name: Restore dependencies
      run: dotnet restore WebCon.BpsExt.Signing.DocuSign.sln
    - name: Build
      run: dotnet build WebCon.BpsExt.Signing.DocuSign.sln  --no-restore --configuration Release 
    - name: Copy references
      run: |
        mkdir -p "WebCon.BpsExt.Signing.DocuSign\bin\Release\net9.0\serviceDependencies\"
        xcopy "WebCon.BpsExt.Signing.DocuSign\ServiceReferenceDll\*.dll" "WebCon.BpsExt.Signing.DocuSign\bin\Release\net9.0\serviceDependencies\" /Y
        xcopy "ReferenceDll\System.ComponentModel.Annotations.dll" "WebCon.BpsExt.Signing.DocuSign\bin\Release\net9.0\" /Y
    - uses: actions/upload-artifact@v4
      with:
        name: WebCon.BpsExt.Signing.DocuSign${{ matrix.runs-on }}
        path: |
          WebCon.BpsExt.Signing.DocuSign/bin/Release/net9.0/WebCon.BpsExt.Signing.DocuSign.dll
          WebCon.BpsExt.Signing.DocuSign/bin/Release/net9.0/WebCon.BpsExt.Signing.DocuSign.json
          WebCon.BpsExt.Signing.DocuSign/bin/Release/net9.0/BouncyCastle.Cryptography.dll
          WebCon.BpsExt.Signing.DocuSign/bin/Release/net9.0/DocuSign.eSign.dll
          WebCon.BpsExt.Signing.DocuSign/bin/Release/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
          WebCon.BpsExt.Signing.DocuSign/bin/Release/net9.0/Microsoft.IdentityModel.Logging.dll
          WebCon.BpsExt.Signing.DocuSign/bin/Release/net9.0/Microsoft.IdentityModel.Protocols.dll
          WebCon.BpsExt.Signing.DocuSign/bin/Release/net9.0/Microsoft.IdentityModel.Tokens.dll
          WebCon.BpsExt.Signing.DocuSign/bin/Release/net9.0/System.IdentityModel.Tokens.Jwt.dll
          WebCon.BpsExt.Signing.DocuSign/bin/Release/net9.0/System.ComponentModel.Annotations.dll
          WebCon.BpsExt.Signing.DocuSign/bin/Release/net9.0/serviceDependencies